@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common form
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-form"

#{$block}
  display: block
  width: 100%


  // $Common form group
  &__group
    position: relative
    display: block
    width: 100%
    margin-bottom: 20px

    // $Common form group MOD: size half
    &_size_half
      flex-grow: 0
      flex-shrink: 1
      width: calc(50% - 10px)

    // $Common form group MOD: size third
    &_size_third
      flex-grow: 0
      flex-shrink: 1
      width: calc(33.3% - 13px)

    // $Common form group MOD: size fourth
    &_size_fourth
      flex-grow: 0
      flex-shrink: 1
      width: calc(25% - 15px)

    // $Common form group MOD: size fifth
    &_size_fifth
      flex-grow: 0
      flex-shrink: 1
      width: calc(20% - 16px)

    // $Common form group MOD: size sixth
    &_size_sixth
      flex-grow: 0
      flex-shrink: 1
      width: calc(16.6% - 17px)

    // $Common form group MOD: size max
    &_size_max
      flex-grow: 1
      flex-shrink: 1
      width: auto

    // $Common form group MOD: size min
    &_size_min
      flex-grow: 0
      flex-shrink: 1
      width: auto

    // $Common form group MOD: size fluid
    &_size_fluid
      flex-grow: 0
      flex-shrink: 0
      width: auto

    &_size_half,
    &_size_third,
    &_size_fourth,
    &_size_fifth,
    &_size_sixth,
    &_size_max,
    &_size_min,
    &_size_fluid
      margin-right: 20px
      margin-bottom: 0

      @media screen and (max-width: 960px)
        flex-shrink: 1
        flex-grow: 1
        width: 100%
        margin-right: 0
        margin-bottom: 20px

    // $Common form group MOD: position last
    &_position_last
      margin-right: 0
      margin-bottom: 0

      @media screen and (max-width: 960px)
        margin-right: 0

    // $Common form group MOD: adjust for manager area
    &_adjust_manager
      padding: 10px 15px

      @media screen and (max-width: 1120px)
        padding: 10px

      @media screen and (max-width: 960px)
        padding: 15px 20px 20px

    // $Common form group MOD: adjust for table area
    &_adjust_table
      padding: 0 20px

      @media screen and (max-width: 1120px)
        padding: 0 10px


  // $Common form board
  &__board
    display: block
    width: 100%
    background-color: #FFF
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2)


  // $Common form board header
  &__board-header
      padding: 15px 25px
      background-color: #f0f0f0

      @media screen and (max-width: 960px)
        padding: 15px 10px


  // $Common form board title
  &__board-title
    font-size: 18px
    line-height: 1
    font-family: $f-sans
    font-weight: 400
    color: #1c2841


  // $Common form board content
  &__board-content
      padding: 15px 25px 25px

      @media screen and (max-width: 960px)
        padding: 15px 10px 25px


  // $Common form row
  &__row
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%
    margin-bottom: 20px

    @media screen and (max-width: 960px)
      flex-direction: column

    // $Common form row MOD: justify end
    &_justify_end
      justify-content: flex-end

    // $Common form row MOD: justify space
    &_justify_space
      justify-content: space-between

    // $Common form row MOD: align start
    &_align_start
      align-items: flex-start

    // $Common form row MOD: align end
    &_align_end
      align-items: flex-end

    // $Common form row MOD: position last
    &_position_last
      margin-right: 0
      margin-bottom: 0

      @media screen and (max-width: 960px)
        margin-right: 0

    // $Common form row MOD: adjust for table area
    &_adjust_table
      padding: 0 20px

      @media screen and (max-width: 1120px)
        padding: 0 10px

    // $Common form row MOD: adjust nowrap
    &_adjust_nowrap
      @media screen and (max-width: 960px)
        flex-direction: row


  // $Common form field
  &__field
    position: relative
    display: block
    width: 100%
    margin-bottom: 20px

    // $Common form field MOD: size half
    &_size_half
      flex-grow: 0
      flex-shrink: 1
      width: calc(50% - 10px)

    // $Common form field MOD: size third
    &_size_third
      flex-grow: 0
      flex-shrink: 1
      width: calc(33.3% - 13px)

    // $Common form field MOD: size fourth
    &_size_fourth
      flex-grow: 0
      flex-shrink: 1
      width: calc(25% - 15px)

    // $Common form field MOD: size fifth
    &_size_fifth
      flex-grow: 0
      flex-shrink: 1
      width: calc(20% - 16px)

    // $Common form field MOD: size sixth
    &_size_sixth
      flex-grow: 0
      flex-shrink: 1
      width: calc(16.6% - 17px)

    // $Common form field MOD: size max
    &_size_max
      flex-grow: 1
      flex-shrink: 1
      width: auto

    // $Common form field MOD: size min
    &_size_min
      flex-grow: 0
      flex-shrink: 1
      width: auto

    // $Common form field MOD: size fluid
    &_size_fluid
      flex-grow: 0
      flex-shrink: 0
      width: auto

    &_size_half,
    &_size_third,
    &_size_fourth,
    &_size_fifth,
    &_size_sixth,
    &_size_max,
    &_size_min,
    &_size_fluid
      margin-right: 20px
      margin-bottom: 0

      @media screen and (max-width: 960px)
        &:not(#{$block}__field_adjust_nowrap)
          flex-shrink: 1
          flex-grow: 1
          width: 100%
          margin-right: 0
          margin-bottom: 20px

    // $Common form field: MOD: position last
    &_position_last
      margin-right: 0
      margin-bottom: 0

      @media screen and (max-width: 960px)
        &:not(#{$block}__field_adjust_nowrap)
          margin-right: 0
          margin-bottom: 0

    // $Common form field MOD: justify center
    &_justify_center
      text-align: center

    // $Common form field MOD: justify end
    &_justify_end
      text-align: right

    // $Common form field MOD: visible on mobiles
    &_state_visible-mobile
      @media screen and (min-width: 961px)
        display: none

    // $Common form field MOD: hidden on mobiles
    &_state_hidden-mobile
      @media screen and (max-width: 960px)
        display: none

    // $Common form field MOD: no label tablet
    &_no-label-tablet
      padding-top: 25px

      @media screen and (max-width: 1120px)
        padding-top: 0

    // $Common form field MOD: no label
    &_no-label-mobile
      padding-top: 25px

      @media screen and (max-width: 960px)
        padding-top: 0

    // $Common form field MOD: role buttons nowrap row
    &_role_buttons-row
      white-space: nowrap

    // $Common form field MOD: state hidden
    &_state_hidden
      display: none


  // $Common form actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    // $Common form actions MOD: adjust categories-units forms
    // $Common form actions MOD: email orders form
    &_adjust_c-u-forms,
    &_adjust_em-form,
    &_adjust_m-form
      justify-content: flex-end

      @media screen and (max-width: 960px)
        justify-content: center

    &_adjust_cgpc-form
      justify-content: center


  // $Common form action
  &__action
    display: block
    flex-grow: 0
    flex-shrink: 1

    #{$block}__actions_adjust_c-u-forms &,
    #{$block}__actions_adjust_em-form &,
    #{$block}__actions_adjust_m-form &
      @media screen and (max-width: 960px)
        flex-grow: 1

    &:not(#{&}_single):not(:first-child)
      #{$block}__actions_adjust_c-u-forms &,
      #{$block}__actions_adjust_em-form &,
      #{$block}__actions_adjust_m-form &,
      #{$block}__actions_adjust_cgpc-form &
        margin-left: 20px

    // $Common form action MOD: state hidden
    &_state_hidden
      display: none

  // $Common form text
  &__text
    font-family: $f-sans
    font-size: 13px
    line-height: 1
    font-weight: 600
    color: #1c2841
    text-transform: uppercase

    @media screen and (max-width: 960px)
      text-align: center







