@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Meta information
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-meta-info"

#{$block}
  position: relative
  display: inline-block

  // $Meta information MOD: icon
  &_icon
    position: relative
    padding-left: 32px

    &:before
      content: ''
      position: absolute
      left: 0
      top: 10px
      display: block
      font-family: icons
      font-size: 18px
      line-height: 1
      color: #757a85
      transform: translateY(-50%)

  // $Meta information MOD: icon user
  &_icon_user
    padding-left: 28px

    &:before
      content: '\e915'
      font-size: 15px

  // $Meta information MOD: icon date
  &_icon_date
    &:before
      content: '\e916'

  // $Meta information MOD: icon note
  &_icon_note
    &:before
      content: '\e914'


  // $Meta information text
  &__text
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    line-height: 1.5
    color: #757a85


  // $Meta information label
  &__label
    font-weight: 600


  // $Meta information value
  &__value

