@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common form select
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-form-select"

#{$block}
  position: relative
  display: block
  width: 100%

  // $Common form select MOD: role control
  &_role_control
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

  // $Common form select MOD: role control mobile
  &_role_control-mobile
    @media screen and (max-width: 960px)
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center

  // $Common form select MOD: role control reverse
  &_role_control-reverse
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    align-items: center

  // $Common form select MOD: role search
  &_role_search

  // $Common form select MOD: no top label
  &_no-label
    padding-top: 20px

  // $Common form select MOD: size small
  &_size_s

  // $Common form select MOD: size extra small
  &_size_xs

  // $Common form select MOD: size extra small
  &_size_xxs

  // $Common form select MOD: size narrow
  &_size_narrow


  // $Common form select label
  &__label
    display: block
    width: 100%
    margin-bottom: 15px
    font-family: $f-sans
    font-size: 14px
    color: #757a85
    font-weight: 600
    line-height: 1

    #{$block}_size_s &,
    #{$block}_size_xs &,
    #{$block}_size_xxs &,
    #{$block}_size_narrow &
      margin-bottom: 8px
      font-size: 12px

    // $Common form select label text CONTEXT: $Common form select MOD: role control
    #{$block}_role_control &,
    #{$block}_role_control-reverse &
      flex-grow: 0
      flex-shrink: 0
      width: auto
      margin-bottom: 0
      font-weight: 400
      white-space: nowrap

    #{$block}_role_control &
      margin-right: 10px

    #{$block}_role_control-reverse &
      margin-left: 10px

    // $Common form select label text CONTEXT: $Common form MOD: context table
    #{$block}_context_table &
      flex-shrink: 1
      font-size: 12px
      white-space: normal

    // $Common form select label-text CONTEXT: $Common form select MOD: type required field
    #{$block}_type_required &
      &:after
        content: '*'
        margin-left: 2px

    @media screen and (max-width: 960px)
      #{$block}_role_control &,
      #{$block}_role_control-reverse &
        width: 90px
        white-space: normal

      #{$block}_role_control-mobile &
        flex-grow: 0
        flex-shrink: 0
        width: 90px
        margin-bottom: 0
        margin-right: 10px
        font-weight: 400

    // $Common form select label MOD: adjust control fluid
    &_adjust_control-fluid

      @media screen and (max-width: 960px)
        #{$block}_role_control &,
        #{$block}_role_control-reverse &
          width: auto

    // $Common form select label MOD: adjust control wrap
    &_adjust_control-wrap
      #{$block}_role_control &,
      #{$block}_role_control-reverse &
        flex-shrink: 1
        white-space: normal

      @media screen and (max-width: 960px)
        #{$block}_role_control &,
        #{$block}_role_control-reverse &
          flex-shrink: 0

    // $Common form select label MOD: adjust meta
    &_adjust_meta
      #{$block}_context_table &
        margin-bottom: 8px
        font-size: 14px
        color: #6d6f73
        font-weight: 400

    // $Common form select label MOD: size small
    &_size_small
      font-size: 12px

    // $Common form select label MOD: no wrap
    &_nowrap
      white-space: nowrap


  // $Common form select label text
  &__label-text


  // $Common form select input
  &__input
    position: relative

    // $Common form select input CONTEXT: $Common form select MOD: role control
    #{$block}_role_control &,
    #{$block}_role_control-reverse &
      flex-grow: 1
      flex-shrink: 1

    // $Common form select input CONTEXT: $Common form MOD: context table control
    // $Common form select input CONTEXT: $Common form MOD: context table control reversed
    #{$block}_role_control#{$block}_context_table &,
    #{$block}_role_control-reverse#{$block}_context_table &
      flex-grow: 0
      flex-shrink: 0

    @media screen and (max-width: 960px)
      #{$block}_role_control-mobile &
        flex-grow: 1
        flex-shrink: 1

    &:before
      #{$block}_role_search &
        content: '\e90b'
        position: absolute
        top: 50%
        margin-top: -7px
        left: 10px
        display: block
        font-family: icons
        font-size: 14px
        line-height: 1
        font-weight: 400
        color: #bbbbbb

      #{$block}_role_search#{$block}_state_error &
        color: #ed7f7e

    &:after
      content: '\e920'
      position: absolute
      top: 50%
      right: 13px
      z-index: 10
      display: block
      font-family: icons
      font-size: 22px
      line-height: 14px
      font-weight: 400
      color: #bbbbbb
      transform: translateY(-50%)

      #{$block}_state_error &
        color: #ed7f7e

      #{$block}_context_table &
        right: 10px
        line-height: 10px

    // $Common form select input MOD: adjust clear action
    &_adjust_clear
      padding-right: 22px

    & select
      display: block
      width: 100%
      padding: 14px 40px 14px 10px
      font-family: $f-sans
      font-size: 12px
      color: #757a85
      font-weight: 400
      line-height: 1.5
      outline: none
      border: 1px solid #d3d3d3
      border-radius: 0
      background: none
      background-color: #FFF
      appearance: none
      -moz-appearance: none
      -webkit-appearance: none
      transition: all .3s

      #{$block}_state_error &
        border-color: #ed7f7e
        color: #ed7f7e

      #{$block}_size_s &
        min-width: 125px
        padding: 7px 40px 7px 8px

      #{$block}_size_xs &
        min-width: 100px
        padding: 7px 40px 7px 8px

      #{$block}_size_xxs &
        min-width: 75px
        padding: 7px 40px 7px 8px

      #{$block}_size_narrow &
        padding: 7px 40px 7px 8px

      #{$block}_role_search &
        padding-left: 30px

      #{$block}_adjust_manager &
        padding-top: 20px
        padding-bottom: 20px
        border-top: none
        border-bottom: none
        border-left: none

      #{$block}_context_table &
        padding: 8px
        font-size: 12px

      #{$block}_role_control#{$block}_context_table &,
      #{$block}_role_control-reverse#{$block}_context_table &
        width: 55px
        padding: 8px
        font-size: 12px

      #{$block}_adjust_manager#{$block}_state_error &
        border: 1px solid #ed7f7e
        outline: 1px solid #ed7f7e

      @media screen and (min-width: 961px)
        #{$block}_adjust_manager#{$block}_space_extra &
          padding-top: 30px
          padding-bottom: 30px

      @media screen and (max-width: 960px)
        #{$block}_adjust_manager &
          border-right: none
          border-bottom: 1px solid #d3d3d3

        #{$block}_size_s &,
        #{$block}_size_xs &,
        #{$block}_size_xxs &
          min-width: 0

      &:focus
        outline: none
        box-shadow: 0 0 1px 0 #64a5fd

      &:disabled
        background-color: #f0f0f0
        cursor: not-allowed

      &::-ms-expand
        display: none

      &:focus::-ms-value
        background-color: transparent
        color: #757a85

      &:invalid
        color: #c5c5c5

    // $Common form select option
    & option
      display: block
      width: 100%
      max-width: 100%
      font-family: $f-sans
      font-size: 12px
      color: #757a85
      font-weight: 400
      line-height: 1.5
      outline: none
      border: none


  // $Common form select box
  &__box
    width: 100%
    min-height: 50px
    padding: 14px 10px
    font-family: $f-sans
    font-size: 12px
    color: #757a85
    font-weight: 400
    line-height: 1.5
    background-color: #FFF
    border: 1px solid #d3d3d3
    border-radius: 0
    cursor: default
    overflow: hidden

    #{$block}_size_s &,
    #{$block}_size_xs &,
    #{$block}_size_xxs &,
    #{$block}_size_narrow &,
    #{$block}_context_table &
      height: 38px
      padding: 8px 10px

    #{$block}_size_s &
      width: 125px

    #{$block}_size_xs &
      width: 100px

    #{$block}_size_xxs &
      width: 75px

    #{$block}_adjust_manager &
      height: 60px
      padding-top: 20px
      padding-bottom: 20px

    #{$block}_highlight_gray-light &
      background-color: #f0f0f0
      border-color: #d3d3d3

    #{$block}_state_error &
      border-color: #fd6464
      color: #fd6464

    @media screen and (min-width: 961px)
      #{$block}_adjust_manager#{$block}_space_extra &
        height: 80px
        padding-top: 30px
        padding-bottom: 30px


  // $Common form select note
  &__note
    margin-top: 10px
    font-family: $f-sans
    font-size: 14px
    line-height: 1
    color: #757a85


  // $Common form select clear
  &__clear
    position: absolute
    top: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 22px
    font-size: 0
    line-height: 0
    color: transparent
    background-color: transparent
    border: none
    cursor: pointer
    opacity: .5
    transition: all .3s

    &:before
      content: '\e904'
      display: block
      font-family: icons
      font-size: 10px
      line-height: 10px
      font-weight: 400
      color: #1c2841

    &:hover
      opacity: 1


  // $Form select third-party component wrap
  &__component
    display: block
    width: 100%

    // Select2 custom styles
    & .select2-container *:focus
      outline: none

    & .select2-container .select2-selection--single
      height: 50px

    & .select2-container--default .select2-selection--single
      border-radius: 2px
      background-color: #fff
      border: 1px solid #d3d3d3

      #{$block}_state_error &
        border-color: #ed7f7e

    & .select2-container--default.select2-container--disabled .select2-selection--single
      background-color: #f0f0f0
      cursor: not-allowed

    & .select2-container--default .select2-selection--single .select2-selection__placeholder
      color: #757a85

      #{$block}_state_error &
        color: #ed7f7e

    & .select2-container .select2-selection--single .select2-selection__rendered
      padding: 0 40px 0 10px
      font-family: $f-sans
      font-size: 12px
      line-height: 48px
      color: #757a85
      font-weight: 400

      #{$block}_state_error &
        color: #ed7f7e

    & .select2-container--default .select2-selection--single .select2-selection__arrow
      width: 30px
      height: auto
      bottom: 1px

      &:after
        content: '\e920'
        position: absolute
        top: 50%
        right: 13px
        z-index: 10
        display: block
        font-family: icons
        font-size: 22px
        line-height: 14px
        font-weight: 400
        color: #bbbbbb
        transform: translateY(-50%)

        #{$block}_state_error &
          color: #ed7f7e

      & b
        display: none

    @at-root
      .select2-search--dropdown
        padding: 5px 10px

      .select2-search--dropdown .select2-search__field
        display: block
        height: 30px
        min-height: 30px
        padding: 0 10px
        font-family: $f-sans
        font-size: 14px
        color: #757a85
        font-weight: 400
        line-height: 1.25
        border-radius: 2px
        background-color: #fff

        &:focus
          outline: none
          box-shadow: 0 0 1px 0 #64a5fd

      .select2-container--default .select2-search--dropdown .select2-search__field
        border: 1px solid #d3d3d3

      .select2-results__option
        padding: 5px 10px
        font-family: $f-sans
        font-size: 12px
        color: #757a85
        font-weight: 400
        line-height: 1.25

      .select2-container--default .select2-results__option[aria-selected="true"]
        background-color: #f0f0f0
        color: #757a85

      .select2-container--default .select2-results__option--highlighted[aria-selected]
        background-color: #f6f6f6
        color: #757a85
