@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common form field
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-form-field"

#{$block}
  position: relative
  display: block
  width: 100%

  // $Common form field MOD: role control
  &_role_control
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

  // $Common form field MOD: role control mobile
  &_role_control-mobile
    @media screen and (max-width: 960px)
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center

  // $Common form field MOD: role control reversed
  &_role_control-reverse
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    align-items: center

  // $Common form field MOD: state error
  &_state_error

  // $Common form field MOD: no top label
  &_no-label
    padding-top: 20px

  // $Common form field MOD: size small
  &_size_s

  // $Common form field MOD: size extra small
  &_size_xs

  // $Common form field MOD: size extra small
  &_size_xxs

  // $Common form field MOD: size narrow
  &_size_narrow

  // $Common form field MOD: adjust manager
  &_adjust_manager

  // $Common form field MOD: adjust tag
  &_adjust_tag


  // $Common form field group
  &__group
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%


  // $Common form field label
  &__label
    display: block
    width: 100%
    margin-bottom: 15px
    font-family: $f-sans
    font-size: 14px
    color: #757a85
    font-weight: 600
    line-height: 1

    #{$block}_size_s &,
    #{$block}_size_xs &,
    #{$block}_size_xxs &,
    #{$block}_size_narrow &
      margin-bottom: 8px
      font-size: 12px

    // $Common form field label text CONTEXT: $Common form MOD: role control
    #{$block}_role_control &,
    #{$block}_role_control-reverse &
      flex-grow: 0
      flex-shrink: 0
      width: auto
      margin-bottom: 0
      font-weight: 400
      white-space: nowrap

    #{$block}_role_control &
      margin-right: 10px

    #{$block}_role_control-reverse &
      margin-left: 10px

    // $Common form field label text CONTEXT: $Common form MOD: context table
    #{$block}_context_table &
      flex-shrink: 1
      font-size: 12px
      white-space: normal

    // $Common form field label-text CONTEXT: $Common form field MOD: type required field
    #{$block}_type_required &
      &:after
        content: '*'
        margin-left: 2px

    @media screen and (max-width: 960px)
      #{$block}_role_control &,
      #{$block}_role_control-reverse &
        width: 90px

      #{$block}_role_control-mobile &
        flex-grow: 0
        flex-shrink: 0
        width: 90px
        margin-bottom: 0
        margin-right: 10px
        font-weight: 400

    // $Common form field label MOD: adjust control fluid
    &_adjust_control-fluid

      @media screen and (max-width: 960px)
        #{$block}_role_control &,
        #{$block}_role_control-reverse &
          width: auto

    // $Common form field label MOD: adjust control wrap
    &_adjust_control-wrap
      #{$block}_role_control &,
      #{$block}_role_control-reverse &
        flex-shrink: 1
        white-space: normal

      @media screen and (max-width: 960px)
        #{$block}_role_control &,
        #{$block}_role_control-reverse &
          flex-shrink: 0

    // $Common form select label MOD: adjust meta
    &_adjust_meta
      #{$block}_context_table &
        margin-bottom: 8px
        font-size: 14px
        color: #6d6f73
        font-weight: 400

    // $Common form field label MOD: size small
    &_size_small
      font-size: 12px

    // $Common form field label MOD: no wrap
    &_nowrap
      white-space: nowrap


  // $Common form field label text
  &__label-text


  // $Common form field input
  &__input
    position: relative

    #{$block}__group &
      flex-grow: 1
      flex-shrink: 1

    // $Common form field input CONTEXT: $Common form MOD: role control
    #{$block}_role_control &,
    #{$block}_role_control-reverse &
      flex-grow: 1
      flex-shrink: 1

    // $Common form field input CONTEXT: $Common form MOD: context table control
    // $Common form field input CONTEXT: $Common form MOD: context table control reversed
    #{$block}_role_control#{$block}_context_table &,
    #{$block}_role_control-reverse#{$block}_context_table &
      flex-grow: 0
      flex-shrink: 0

    @media screen and (max-width: 960px)
      #{$block}_role_control-mobile &
        flex-grow: 1
        flex-shrink: 1

    &:after
      #{$block}_role_date &
        content: '\e916'
        position: absolute
        top: 50%
        margin-top: -9px
        right: 10px
        display: block
        font-family: icons
        font-size: 18px
        line-height: 1
        font-weight: 400
        color: #bbbbbb

    &:before
      #{$block}_role_search &
        content: '\e90b'
        position: absolute
        top: 50%
        margin-top: -7px
        left: 10px
        display: block
        font-family: icons
        font-size: 14px
        line-height: 1
        font-weight: 400
        color: #bbbbbb

    &:before
      #{$block}_role_gbp &
        content: "\00A3"
        position: absolute
        top: 50%
        margin-top: -7px
        left: 10px
        display: block
        font-family: $f-sans
        font-size: 14px
        line-height: 1
        font-weight: 400
        color: #757a85

    // $Common form field input MOD: adjust clear action
    &_adjust_clear
      padding-right: 22px

    & input
      display: inline-block
      width: 100%
      padding: 14px 10px
      font-family: $f-sans
      font-size: 12px
      color: #757a85
      font-weight: 400
      line-height: 1.5
      background-color: #FFF
      border: 1px solid #d3d3d3
      border-radius: 0

      #{$block}_size_s &
        width: 125px
        padding: 8px 10px

      #{$block}_size_xs &
        width: 100px
        padding: 8px 10px

      #{$block}_size_xxs &
        width: 75px
        padding: 8px 10px

      #{$block}_size_narrow &
        padding: 8px 10px

      #{$block}_adjust_manager &
        padding-top: 20px
        padding-bottom: 20px
        border-top: none
        border-bottom: none
        border-left: none

      #{$block}_adjust_tag &
        padding: 4px 10px

      #{$block}_context_table &
        padding: 8px 10px
        font-size: 12px

      #{$block}_role_control#{$block}_context_table &,
      #{$block}_role_control-reverse#{$block}_context_table &
        width: 55px
        padding: 8px 10px
        font-size: 12px

      #{$block}_role_date &,
        padding-right: 30px

      #{$block}_role_search &
        padding-left: 30px

      #{$block}_role_gbp &
        padding-left: 25px

      #{$block}_state_error &
        border-color: #ed7f7e
        color: #ed7f7e

      #{$block}_adjust_manager#{$block}_state_error &
        border: 1px solid #ed7f7e
        outline: 1px solid #ed7f7e

      @media screen and (min-width: 961px)
        #{$block}_adjust_manager#{$block}_space_extra &
          padding-top: 30px
          padding-bottom: 30px

      @media screen and (max-width: 960px)
        #{$block}_size_s &,
        #{$block}_size_xs &,
        #{$block}_size_xxs &
          width: 100%

        #{$block}_size_s#{$block}_adjust_tag &
          width: 125px

        #{$block}_size_xs#{$block}_adjust_tag &
          width: 100px

        #{$block}_size_xxs#{$block}_adjust_tag &
          width: 75px

        #{$block}_adjust_manager &
          border-right: none
          border-bottom: 1px solid #d3d3d3

      &:focus
        outline: none
        box-shadow: 0 0 1px 0 #64a5fd

      &:disabled
        background-color: #f0f0f0
        cursor: not-allowed

      &:read-only
        background-color: #f0f0f0
        cursor: default

      &::-webkit-input-placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &:-moz-placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &::-moz-placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &:-ms-input-placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &::-ms-input-placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &::placeholder
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important

      &:placeholder-shown
        color: #c5c5c5 !important
        opacity:  1 !important

        #{$block}_state_error &
          color: #ed7f7e !important


  // $Form field input clear
  &__input-clear
    position: absolute
    top: 1px
    right: 1px
    bottom: 1px
    z-index: 10
    display: block
    width: 27px
    margin: 0
    padding: 0 0 0 5px
    background-color: #fff
    border: none
    transition: all .3s
    cursor: pointer
    color: #fd6464
    text-align: left
    opacity: .8

    &:before
      content: unquote("\'\\e904\'")
      display: inline-block
      font-family: icons
      font-size: 10px
      line-height: 1
      font-weight: 400
      color: inherit
      vertical-align: middle

    &:hover
      text-decoration: none
      opacity: 1

    &:focus
      outline: none


  // $Common form field box
  &__box
    width: 100%
    height: 50px
    padding: 14px 10px
    font-family: $f-sans
    font-size: 12px
    color: #757a85
    font-weight: 400
    line-height: 1.5
    background-color: #FFF
    border: 1px solid #d3d3d3
    border-radius: 0
    cursor: default
    overflow: hidden

    #{$block}_size_s &,
    #{$block}_size_xs &,
    #{$block}_size_xxs &,
    #{$block}_size_narrow &,
    #{$block}_context_table &
      height: 38px
      padding: 8px 10px

    #{$block}_size_s &
      width: 125px

    #{$block}_size_xs &
      width: 100px

    #{$block}_size_xxs &
      width: 75px

    #{$block}_adjust_manager &
      height: 60px
      padding-top: 20px
      padding-bottom: 20px

    #{$block}_highlight_gray-light &
      background-color: #f0f0f0
      border-color: #d3d3d3

    #{$block}_state_error &
      border-color: #fd6464
      color: #fd6464

    @media screen and (min-width: 961px)
      #{$block}_adjust_manager#{$block}_space_extra &
        height: 80px
        padding-top: 30px
        padding-bottom: 30px


  // $Common form field preview
  &__preview
    position: relative
    display: block
    height: 50px
    width: 75px
    overflow: hidden
    background-color: #eee

    &:after
      content: '\e928'
      position: absolute
      top: 50%
      left: 50%
      z-index: 0
      display: block
      width: 25px
      height: 25px
      margin-top: -12px
      margin-left: -12px
      font-family: icons
      font-size: 25px
      line-height: 25px
      color: #ccc

    #{$block}__group &
      flex-grow: 0
      flex-shrink: 0

    &:first-child
      #{$block}__group &
        margin-right: 10px

    &:last-child
      #{$block}__group &
        margin-left: 10px


  // $Common form field preview link
  &__preview-link
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    display: block
    font-family: $f-sans
    font-size: 12px
    line-height: 1
    color: #1c2841
    text-align: center
    text-decoration: none
    cursor: pointer
    overflow: hidden
    transition: .3s

    &:hover
      opacity: .8

    &:focus
      outline: none


  // $Common form field preview image
  &__preview-image
    display: block
    width: 100%
    max-width: 100%


  // $Common form field note
  &__note
    margin-top: 10px
    font-family: $f-sans
    font-size: 14px
    line-height: 1
    color: #757a85


  // $Common form field clear
  &__clear
    position: absolute
    top: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 22px
    font-size: 0
    line-height: 0
    color: transparent
    background-color: transparent
    border: none
    cursor: pointer
    opacity: .5
    transition: all .3s

    &:before
      content: '\e904'
      display: block
      font-family: icons
      font-size: 10px
      line-height: 10px
      font-weight: 400
      color: #1c2841

    &:hover
      opacity: 1

    // Context modifier to fix date input size on the extra small screens
    @at-root
      .stock-form-interval .stock-form-field input[type="date"]
        @media screen and (max-width: 360px)
          max-width: 100%
          padding-left: 5px
          padding-right: 5px

        @supports (-ms-ime-align: auto)
          @media screen and (max-width: 480px)
            max-width: calc(50vw - 45px)

          @media screen and (max-width: 360px)
            max-width: calc(50vw - 40px)

