@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common table
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-table"

#{$block}
  display: block
  width: 100%

  // $Common table MOD: hidden on mobile
  &_state_hidden-mobile
    @media screen and (max-width: 960px)
      display: none

  &_state_hidden-tablet
    @media screen and (max-width: 1120px)
      display: none


  // $Common table group
  &__group
    position: relative
    width: 100%
    background-color: #FFF

    &:nth-child(odd)
      background-color: #f8f8f8


  // $Common table dropdown
  &__dropdown
    position: relative
    border-bottom: 1px solid #eee

    // $Common table dropdown MOD: state hidden
    &_state_hidden
      display: none

    // $Common table dropdown MOD: space regular
    &_space_regular
      padding: 20px 45px 45px


  // $Common table dropdown close
  &__dropdown-close
    position: absolute
    bottom: 20px
    left: 20px
    z-index: 10
    display: block
    width: 20px
    height: 20px
    font-size: 0
    line-height: 0
    color: transparent
    outline: none
    background-color: #454d5e
    background-image: url(../icons/icon-arrow-down-white.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: 9px 9px
    border-radius: 50%
    transition: all .4s
    cursor: pointer
    transform: rotate(180deg)

    &:hover
      opacity: .8

    &:focus
      outline: #FFF


  // $Common table row
  &__row
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    border-bottom: 1px solid #eee
    background-color: #FFF

    &:nth-child(odd)
      background-color: #f8f8f8

    &:not(:last-child)
      border-bottom: 1px solid #eee

    // $Common table row MOD: role header
    &_role_header

    // $Common table row MOD: adjust group
    &_adjust_group
      background-color: transparent

      &:nth-child(odd)
        background-color: transparent

    // $Common table row MOD:  no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none

    // $Common table row MOD: state success
    &_state_success,
    &_state_success:nth-child(odd),
    &_state_success:nth-child(even),
      background-color: #dafddf

    // $Common table row MOD: state alert
    &_state_alert,
    &_state_alert:nth-child(odd),
    &_state_alert:nth-child(even)
      background-color: #ffe1e3


  // $Common table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c
    padding: 10px 15px

    #{$block}_page_p-list &,
    #{$block}_page_po-list &,
    #{$block}_page_ed-form &
      padding-left: 10px
      padding-right: 10px

    @media screen and (max-width: 1280px)
      #{$block}_page_ed-form &
        padding-left: 8px
        padding-right: 8px

    @media screen and (max-width: 1120px)
      padding: 10px

      #{$block}_page_p-list &,
      #{$block}_page_po-list &
        padding-left: 8px
        padding-right: 8px

    // $Common table cell CONTEXT: $Common table MOD: page stock levels list
    #{$block}_page_sl-list &
      justify-content: center

    &:not(:last-child)
      border-right: 1px solid #ebebeb

    // $Common table cell first column
    &:nth-child(1)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 15%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 16%

      #{$block}_page_si-form &
        width: 21%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 13%

      #{$block}_page_od-details &
        width: 11%

      #{$block}_page_p-list &,
      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        width: 15%

      #{$block}_page_p-list-itenerarys &
        flex-grow: 0
        width: 15%

      #{$block}_page_ed-list &
        width: 20%

      #{$block}_page_ed-form &
        width: 10%
        min-width: 80px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 15%

      #{$block}_page_em-form &
        width: 21%

    // $Common table cell second column
    &:nth-child(2)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 15%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 17%

      #{$block}_page_si-form &
        width: 20%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        width: 13%

      #{$block}_page_od-details &
        width: 13%

      #{$block}_page_p-list &,
      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_p-list-itenerarys &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_ed-list &
        width: 20%

      #{$block}_page_ed-form &
        width: 10%
        min-width: 80px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 200px

      #{$block}_page_em-form &
        width: 27%

    // $Common table cell third column
    &:nth-child(3)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 10%

      #{$block}_page_si-form &
        width: 12%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 10%

      #{$block}_page_od-details &
        width: 13%

      #{$block}_page_p-list &
        width: 10%

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_ed-list &
        width: 20%

      #{$block}_page_ed-form &
        width: 7%
        min-width: 70px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 300px

      #{$block}_page_em-form &
        width: 27%

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 9%

        #{$block}_page_p-list-prices &
          flex-grow: 0
          flex-shrink: 0
          width: 120px

    // $Common table cell fourth column
    &:nth-child(4)
      #{$block}_page_sl-list &
        width: 19%

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 10%

      #{$block}_page_po-form &
        justify-content: center
        width: 9%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        justify-content: center
        width: 9%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        justify-content: center
        width: 9%

      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_ed-list &
        justify-content: center
        width: 10%

      #{$block}_page_ed-form &
        justify-content: center
        width: 8%
        min-width: 80px

      #{$block}_page_em-form &
        justify-content: center
        width: 15%

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 10%

    // $Common table cell fifth column
    &:nth-child(5)

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_si-form &
        width: 14%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_od-details &
        justify-content: center
        width: 9%

      #{$block}_page_p-list &,
      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_ed-list &
        justify-content: center
        width: 15%

      #{$block}_page_ed-form &
        width: 8%
        min-width: 80px

      #{$block}_page_em-form &
        flex-grow: 0
        flex-shrink: 0
        width: 150px

    // $Common table cell sixth column
    &:nth-child(6)

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_si-form &
        justify-content: center
        width: 15%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_ed-list &
        flex-grow: 0
        flex-shrink: 0
        width: 130px

      #{$block}_page_ed-form &
        width: 8%
        min-width: 80px

    // $Common table cell seventh column
    &:nth-child(7)

      #{$block}_page_sl-form &
        width: 12%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 15%

      #{$block}_page_po-form &
        width: 13%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        justify-content: center
        width: 13%

      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 95px

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_ed-list &
        flex-grow: 0
        flex-shrink: 0
        width: 145px

      #{$block}_page_ed-form &
        width: 9%
        min-width: 90px

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 95px

    // $Common table cell eighth column
    &:nth-child(8)

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 10%
        justify-content: center

      #{$block}_page_po-form &
        justify-content: center
        width: 17%

      #{$block}_page_oh-details &
        width: 13%

      #{$block}_page_od-details &
        width: 12%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 125px

      #{$block}_page_po-list &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_ed-form &
        width: 7%
        min-width: 70px

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 125px

    // $Common table cell ninth column
    &:nth-child(9)

      #{$block}_page_oh-details &
        width: 15%

      #{$block}_page_od-details &
        justify-content: center
        width: 15%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_po-list &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_ed-form &
        width: 9%
        min-width: 90px

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 100px

    // $Common table cell tenth column
    &:nth-child(10)
      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_ed-form &
        flex-grow: 0
        flex-shrink: 0
        width: 135px

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 120px

    // $Common table cell eleventh column
    &:nth-child(11)
      #{$block}_page_ed-form &
        flex-grow: 0
        flex-shrink: 0
        width: 125px

    // $Common table cell MOD: role header
    // $Common table cell MOD: role footer
    &_role_header,
    &_role_footer
      min-height: 60px
      font-size: 11px
      font-family: $f-sans
      font-weight: 600
      color: #1c2841
      text-transform: uppercase

    &_role_header
      border-top: 1px solid #eee

    &_role_footer
      border-bottom: 1px solid #eee

    &_no-border
      &:not(:last-child)
        border: none


  // $Common table info
  &__info
    width: 100%

    #{$block}_page_sl-list #{$block}__cell &,
    #{$block}_page_po-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_oh-details #{$block}__cell:nth-child(4) &,
    #{$block}_page_od-details #{$block}__cell:nth-child(5) &,
    #{$block}_page_p-list #{$block}__cell:nth-child(4) &,
    #{$block}_page_ed-list #{$block}__cell:nth-child(4) &,
    #{$block}_page_ed-list #{$block}__cell:nth-child(5) &,
    #{$block}_page_ed-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_em-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(6) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(7) &,
    #{$block}_page_oh-list #{$block}__cell:nth-child(7) &,
    #{$block}_page_sr #{$block}__cell:nth-child(8) &,
    #{$block}_page_st #{$block}__cell:nth-child(8) &,
    #{$block}_page_po-form #{$block}__cell:nth-child(8) &
      text-align: center

  // $Common table text
  &__text
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c


  // $Common table text marked
  &__text-marked
    font-weight: 600


  // $Common table actions
  &__actions


  // $Common table action
  &__action
