@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common form
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-form"

#{$block}
  display: block
  width: 100%








