@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Activity card
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-activity-card"

#{$block}
  position: relative
  background-color: #FFF
  margin-bottom: 20px

  // $Activity card MOD: role board
  &_role_board
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2)

  // $Activity card MOD: visible on mobiles
  &_state_visible-mobile
    @media screen and (min-width: 961px)
      display: none

  // $Activity card MOD: visible on tablets
  &_state_visible-tablet
    @media screen and (min-width: 1121px)
      display: none

  // $Activity card MOD: state success
  &_state_success
    background-color: #dafddf

  // $Activity card MOD: state alert
  &_state_alert
    background-color: #ffe1e3

  // $Activity card MOD: state warning
  &_state_warning
    background-color: #ffe3bd

  // $Activity card MOD: state caution
  &_state_caution
    background-color: #feffe1

  // $Activity card MOD: state picked
  &_state_picked
    background-color: #d8e8fe


  // $Activity card header
  &__header
    padding: 20px 10px 10px
    text-align: center
    border-bottom: 1px solid #ebebeb

    #{$block}_state_success &,
    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_caution &,
    #{$block}_state_picked &
      background-color: transparent

    #{$block}_state_success &,
    #{$block}_state_caution &
      border-bottom-color: #e0e0e0

    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_picked &
      border-bottom-color: #f0f0f0

    // $Activity card header MOD: adjust translated label button
    &_adjust_label
      padding-bottom: 0


  // $Activity card accordion
  &__accordion
    background-color: #f8f8f8
    border-bottom: 1px solid #ebebeb

    #{$block}_state_success &,
    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_caution &,
    #{$block}_state_picked &
      background-color: rgba(0,0,0,.03)

    #{$block}_state_success &,
    #{$block}_state_caution &
      border-bottom-color: #e0e0e0

    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_picked &
      border-bottom-color: #f0f0f0

    // $Activity card accordion
    &_type_light
      background-color: transparent

      #{$block}_state_success &,
      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_caution &,
      #{$block}_state_picked &
        background-color: transparent

    &_adjust_label-before
      padding-top: 20px


  // $Activity card dropdown
  &__dropdown
    background-color: #f8f8f8
    border-bottom: 1px solid #ebebeb

    #{$block}_state_success &,
    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_caution &,
    #{$block}_state_picked &
      background-color: rgba(0,0,0,.03)

    #{$block}_state_success &,
    #{$block}_state_caution &
      border-bottom-color: #e0e0e0

    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_picked &
      border-bottom-color: #f0f0f0

    // $Activity card dropdown MOD: type light
    &_type_light
      background-color: transparent

      #{$block}_state_success &,
      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_caution &,
      #{$block}_state_picked &
        background-color: transparent

    // $Activity card dropdown MOD: state hidden
    &_state_hidden
      display: none


  // $Activity card dropdown content
  &__dropdown-content
    border-bottom: 1px solid #ebebeb


  // $Activity card dropdown footer
  &__dropdown-footer
    padding: 10px


  // $Activity card dropdown close
  &__dropdown-close
    display: block
    width: 20px
    height: 20px
    margin: 0 auto
    font-size: 0
    line-height: 0
    color: transparent
    outline: none
    background-color: #454d5e
    border-radius: 50%
    transition: all .4s
    cursor: pointer

    &:before
      content: '\e921'
      display: block
      font-family: icons
      font-size: 15px
      line-height: 18px
      color: #fff
      text-align: center

    &:hover
      opacity: .8

    &:focus
      outline: #FFF


  // $Activity card content
  &__content
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 30px 10px 0
    text-align: center

    // $Activity card content MOD: adjust action control
    &_adjust_action
      padding-top: 35px
      padding-bottom: 15px
      text-align: center
      background-color: #f8f8f8
      border-bottom: 1px solid #ebebeb

      #{$block}_state_success &,
      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_caution &,
      #{$block}_state_picked &
        background-color: rgba(0,0,0,.03)

      #{$block}_state_success &,
      #{$block}_state_caution &
        border-bottom-color: #e0e0e0

      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_picked &
        border-bottom-color: #f0f0f0


  // $Activity card group
  &__group
    border-bottom: 1px solid #ebebeb

    #{$block}_state_success &,
    #{$block}_state_caution &
      border-bottom-color: #e0e0e0

    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_picked &
      border-bottom-color: #f0f0f0

    // $Activity card cell MOD: no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none


  // $Activity card row
  &__row
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    border-bottom: 1px solid #ebebeb

    #{$block}_state_success &,
    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_caution &,
    #{$block}_state_picked &
      background-color: transparent

    #{$block}_state_success &,
    #{$block}_state_caution &
      border-bottom-color: #e0e0e0

    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_picked &
      border-bottom-color: #f0f0f0

    // $Activity card row MOD: marked
    &_marked
      background-color: #f8f8f8

      #{$block}_state_success &,
      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_caution &,
      #{$block}_state_picked &
        background-color: rgba(0,0,0,.03)

    // $Activity card cell MOD: no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none


  // $Activity card cell
  &__cell
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    padding: 15px

    @media screen and (max-width: 960px)
      padding: 15px 10px

    // $Activity card cell MOD: size half
    &_size_half
      width: 50%

    // $Activity card cell MOD: size half
    &_size_third
      width: 33.3%

      @media screen and (max-width: 479px)
        padding: 15px 5px

    &_size_half,
    &_size_third
      &:not(:last-child)
        border-right: 1px solid #ebebeb

        #{$block}_state_success &,
        #{$block}_state_caution &
          border-right-color: #e0e0e0

        #{$block}_state_alert &,
        #{$block}_state_warning &,
        #{$block}_state_picked &
          border-right-color: #f0f0f0

    // $Activity card cell MOD: no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none

    // $Activity card cell MOD: justify end
    &_justify_end
      align-items: flex-end

    // $Activity card cell MOD: justify start
    &_justify_start
      align-items: flex-start

    // $Activity card cell MOD: half-colored
    &_marked-half
      background-image: -ms-linear-gradient(top, #fff 0%, #fff 50%, #f8f8f8 50%, #f8f8f8 100%)
      background-image: -moz-linear-gradient(top, #fff 0%, #fff 50%, #f8f8f8 50%, #f8f8f8 100%)
      background-image: -o-linear-gradient(top, #fff 0%, #fff 50%, #f8f8f8 50%, #f8f8f8 100%)
      background-image: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #f8f8f8 50%, #f8f8f8 100%)
      background-image: linear-gradient(to bottom, #fff 0%, #fff 50%, #f8f8f8 50%, #f8f8f8 100%)

    // $Activity card cell MOD: half-colored reverse
    &_marked-half-reverse
      background-image: -ms-linear-gradient(top, #f8f8f8 0%, #f8f8f8 50%, #fff 50%, #fff 100%)
      background-image: -moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 50%, #fff 50%, #fff 100%)
      background-image: -o-linear-gradient(top, #f8f8f8 0%, #f8f8f8 50%, #fff 50%, #fff 100%)
      background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #f8f8f8 50%, #fff 50%, #fff 100%)
      background-image: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 50%, #fff 50%, #fff 100%)

    // $Activity card cell MOD: adjust label over other elements
    &_adjust_label-before
      padding-bottom: 0

    // $Activity card cell MOD: adjust label under other elements
    &_adjust_label-after
      padding-top: 0

    // $Activity card cell MOD: state success
    &_state_success
      background-color: #aafab5

    // $Activity card cell MOD: state alert
    &_state_alert
      background-color: #ffc8cb

    // $Activity card cell MOD: state warning
    // $Activity card cell MOD: state caution
    &_state_warning,
    &_state_caution
      background-color: #ffcd8a


  // $Activity card cell box
  &__cell-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    padding: 10px
    border: 2px solid #ebebeb


  // $Activity card footer
  &__footer
    padding: 35px 10px 15px
    text-align: center
    background-color: #f8f8f8

    #{$block}_state_success &,
    #{$block}_state_alert &,
    #{$block}_state_warning &,
    #{$block}_state_caution &,
    #{$block}_state_picked &
      background-color: rgba(0,0,0,.03)

    // $Activity card footer MOD: type light
    &_type_light
      background-color: transparent

      #{$block}_state_success &,
      #{$block}_state_alert &,
      #{$block}_state_warning &,
      #{$block}_state_caution &,
      #{$block}_state_picked &
        background-color: transparent


  // $Activity card actions
  &__actions
    white-space: nowrap


  // $Activity card action
  &__action
    &:not(:last-child)
      margin-right: 20px


  // $Activity card info
  &__info
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    text-align: left


  // $Activity card delimiter
  &__delimiter
    flex-grow: 0
    flex-shrink: 1

    // $Activity card delimiter MOD: role user
    &_role_user
      width: 0
      margin: 0 10px

    // $Activity card icon MOD: role rt
    &_role_rt
      width: 50px
      height: 18px
      margin: 0 20px
      background-image: url('../icons/icon-arrow-illustration.png')
      background-repeat: no-repeat
      background-position: center center
      background-size: contain


  // $Activity card title
  &__title
    font-family: $f-sans
    font-size: 16px
    line-height: 1.2
    color: #1c2841
    font-weight: 600
    margin-bottom: 5px

    // $Activity card title MOD: adjust corner placed over header
    &_adjust_corner
      padding-right: 45px
      padding-left: 45px


  // $Activity card note
  &__note
    font-family: $f-sans
    font-size: 12px
    line-height: 1
    font-weight: 400
    color: #9F9F9F


  // $Activity card text
  &__text
    width: auto
    max-width: 100%
    flex-grow: 0
    flex-shrink: 1
    font-family: $f-sans
    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: #1c2841

    #{$block}__info &
      width: min-content
      font-size: 16px
      font-weight: 600

    // $Activity card text MOD: align right
    &_align_right
      text-align: right

    // $Activity card text MOD: role date
    &_role_date
      &:before
        content: '\e916'
        display: inline-block
        margin-right: 10px
        font-family: icons
        font-size: 16px
        line-height: 1
        color: inherit


  // $Activity card text line
  &__text-line
    max-width: 100%
    display: block
    white-space: nowrap


  // $Activity card label
  &__label
    max-width: 100%
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c

    &_context_stack:not(:last-child)
      margin-bottom: 10px


  // $Activity card label marked text
  &__label-marked
    font-weight: 600


  // $Activity card meta
  &__meta
    display: block
    max-width: 100%
    font-family: $f-sans
    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: #6d6f73
    text-align: center

    &:not(:last-child)
      margin-bottom: 15px

    // $Activity card meta MOD: no wrap
    &_nowrap
      white-space: nowrap


  // $Activity card meta marked text
  &__meta-marked
    font-weight: 600
    color: #1c2841


  &__meta-line
    display: block
    text-align: left

    &:not(:last-child)
      margin-bottom: 12px


  &__meta-field


  // $Activity card button
  &__button
    position: relative
    z-index: 1
    width: 195px
    transform: translateY(50%)


  // $Activity card date
  &__date
    position: relative
    z-index: 1
    display: inline-block
    width: 195px
    padding: 10px
    font-family: $f-sans
    font-size: 14px
    font-weight: 200
    color: #FFF
    background-color: #64a5fd
    border-radius: 20px
    white-space: nowrap
    transform: translateY(50%)

    &:before
      content: '\e916'
      display: inline-block
      margin-right: 10px
      font-family: icons
      font-size: 16px
      line-height: 1
      color: inherit


  // $Activity card icon
  &__icon
    flex-grow: 0
    flex-shrink: 1
    display: inline-block
    width: 30px
    height: 30px
    background-repeat: no-repeat
    background-position: center center
    background-size: contain

    &_role_food,
    &_role_drink,
    &_role_gift
      &:before
        content: ''
        display: block
        font-family: icons
        font-size: 30px
        line-height: 30px
        color: #757a85
        text-align: center

    // $Activity card icon MOD: role food
    &_role_food
      &:before
        content: '\e908'

    // $Activity card icon MOD: role drink
    &_role_drink
      &:before
        content: '\e906'

    // $Common table icon MOD: role gift
    &_role_gift
      &:before
        content: '\e90a'

    // $Activity card icon MOD: role user
    &_role_user
      width: 77px
      height: 50px
      background-image: url('../icons/icon-user-illustration.png')

    // $Activity card icon MOD: role rt
    &_role_rt
      width: 77px
      height: 50px
      background-image: url('../icons/icon-box-illustration.png')


  // $Activity card corner
  &__corner
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: block
    width: 70px
    height: 70px
    padding: 5px
    text-align: right
    background-image: -ms-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)


