@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common button
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions

=button-common($background-color: #64a5fd )
  background-color: $background-color


=button-common-hover-behavior($background-color, $amount: 3%)

  &:hover
    background-color: lighten($background-color, $amount)


=button-bordered($color: '#d3d3d3', $border-color: '#d3d3d3', $bg-color: '#fff')
  border: 1px solid $border-color
  border-radius: 0
  background-color: $bg-color
  color: $color


=button-bordered-hover-behavior($color: '#d3d3d3', $border-color: '#d3d3d3', $bg-color: '#fff', $icon-hover-url: '')

  &:hover
    color: $color
    background-color: $bg-color

    &:after,
    &:before
      background-image: url($icon-hover-url)


=button-bordered-active-behavior($color: '#d3d3d3', $border-color: '#d3d3d3', $bg-color: '#fff', $icon-active-url: '')

  &#{$block}_state_active
    color: $color
    background-color: $bg-color

    &:after,
    &:before
      background-image: url($icon-active-url)


=button-with-icon-left($icon-url: '', $background-size: 13px)

  &:before
    content: ""
    display: inline-block
    width: $background-size
    height: $background-size
    margin-right: 10px
    line-height: 100%
    vertical-align: middle
    background-image: url($icon-url)
    background-repeat: no-repeat
    background-position: center center
    background-size: contain


=button-with-icon-right($icon-url: '', $background-size: 13px)

  &:after
    content: ""
    display: inline-block
    width: $background-size
    height: $background-size
    margin-left: 10px
    line-height: 100%
    vertical-align: middle
    background-image: url($icon-url)
    background-repeat: no-repeat
    background-position: center center
    background-size: auto $background-size


//////////////////////////////////////// Block styles
$block: ".stock-button"

#{$block}
  $background-color: #64a5fd

  +button-common($background-color: $background-color)
  +button-common-hover-behavior($background-color: $background-color)

  display: inline-block
  padding: 13px 23px
  border-radius: 20px
  font-family: $f-sans
  font-size: 12px
  line-height: 1
  color: #fff
  font-weight: 600
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap
  vertical-align: middle
  outline: none
  cursor: pointer
  transition: all .4s

  &:hover
    color: #FFF

  &:focus
    outline: none

  &_size_s
    padding: 9px 23px

  // $Common button MOD: state disabled
  &_state_disabled[disabled],
  &_state_disabled,
  &[disabled],
    background-color: #ccc
    cursor: not-allowed

    &:hover,
    &:focus
      background-color:#ccc

  // $Common button MOD: state visible
  &_state_visible
    display: inline-block

  // $Common button MOD: state hidden
  &_state_hidden
    display: none


  // $Common button text
  &__text
    vertical-align: middle


  // $Common button variations:

  // Color modifiers
  // $Common button MOD: role primary
  &_role_primary
    $background-color: #64a5fd
    +button-common($background-color: $background-color)
    +button-common-hover-behavior($background-color: $background-color)

  &_role_accent
    $background-color: #fd649a
    +button-common($background-color: $background-color)
    +button-common-hover-behavior($background-color: $background-color)


  // Icon modifiers
  // $Common button MOD: icon plus
  &_icon_plus
    +button-with-icon-left($icon-url: '../icons/icon-plus-white.svg')

  // $Common button MOD: icon plus reversed
  &_icon_plus-reversed
    +button-with-icon-right($icon-url: '../icons/icon-plus-white.svg')

  // $Common button MOD: icon close
  &_icon_close
    +button-with-icon-left($icon-url: '../icons/icon-close-white.svg', $background-size: 11px)


  // Specific buttons

  &_role_filter-label
    text-transform: none
    padding: 8px 10px
    cursor: default
    font-size: 14px
    +button-bordered($color: #757a85, $bg-color: #fff, $border-color: #fff)
    +button-with-icon-left($icon-url: '../icons/icon-options-dark-gray.svg', $background-size: 17px)
    +button-bordered-hover-behavior($color: #757a85, $bg-color: #fff, $border-color: #fff, $icon-hover-url: '../icons/icon-options-dark-gray.svg')

  &_role_filter
    text-transform: none
    padding: 15px 20px
    +button-bordered($color: #d3d3d3, $bg-color: #fff, $border-color: #d3d3d3)
    +button-with-icon-right($icon-url: '../icons/icon-options-light-gray.svg', $background-size: 15px)
    +button-bordered-hover-behavior($color: #757a85, $bg-color: #fff, $border-color: #d3d3d3, $icon-hover-url: '../icons/icon-options-primary.svg')
    +button-bordered-active-behavior($color: #757a85, $bg-color: #fff, $border-color: #d3d3d3, $icon-active-url: '../icons/icon-options-primary.svg')
