@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Navigation bar
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-navbar"

#{$block}
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: stretch
  width: 100%


  // $Navigation bar link
  &__link
    position: relative
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    margin-right: 65px
    padding-bottom: 18px
    white-space: nowrap
    text-align: center
    cursor: pointer
    font-size: 14px
    line-height: 1
    font-family: $f-sans
    text-transform: uppercase
    text-decoration: none
    color: #808080
    transition: all .4s

    #{$block}_size_min &
      flex-grow: 0

    &:after
      content: ""
      position: absolute
      bottom: 0
      right: 10px
      left: 10px
      height: 4px
      background-color: transparent
      transition: all .4s

    &:hover,
    &_state_active
      color: #4c4c4c

      &:after
        background-color: #63a5fc

    // $Navigation bar link MOD: state active
    &_state_active
      cursor: default


  // $Navigation bar link text
  &__link-text
    position: relative
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%
