@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common table
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-table"

#{$block}
  display: block
  width: 100%

  // $Common table MOD: hidden on mobile
  &_state_hidden-mobile
    @media screen and (max-width: 960px)
      display: none

  &_state_hidden-tablet
    @media screen and (max-width: 1120px)
      display: none

  &_page_p-list-prices
    max-width: 1680px

  &_page_ed-list-details
    max-width: 800px

  &_page_oh-reports,
  &_page_st-summary
    padding: 10px 25px

    @media screen and (max-width: 1120px)
      padding-left: 20px
      padding-right: 20px

    @media screen and (max-width: 640px)
      padding-left: 0
      padding-right: 0

  &_page_oh-reports-details,
  &_page_st-summary-details
    border: 1px solid #eee

  &_page_oh-reports-details
    &:not(:last-child)
      margin-bottom: 20px


  // $Common table service switch
  &__service-switch
    position: absolute
    left: 100%
    top: 10px
    z-index: 60
    display: block
    width: 20px
    height: 40px
    background-color: #37547c
    cursor: pointer

    &:before
      content: '\e900'
      display: block
      font-family: icons
      font-size: 20px
      line-height: 40px
      font-weight: 400
      color: #fff
      text-align: center

      @media screen and (max-width: 1280px)
        font-size: 15px

    // $Common table service content MOD: state active
    &_state_active
      &:before
        content: '\e904'
        font-size: 10px

        @media screen and (max-width: 1280px)
          font-size: 8px


  // $Common table service content
  &__service-content
    display: none
    width: 100%
    min-height: 60px
    padding: 10px 15px 10px
    background-color: #f6f6f6

    // $Common table service content MOD: state active
    &_state_active
      display: block


  // $Common table controls
  &__controls
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    width: 100%
    min-height: 60px
    padding: 10px 15px 10px
    background-color: #f6f6f6


  // $Common table group
  &__group
    position: relative
    display: block
    width: 100%
    background-color: #FFF

    #{$block}_page_oh-reports &,
    #{$block}_page_st-summary &
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.2)

    &:nth-child(odd)
      background-color: #f8f8f8

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        background-color: #FFF

    &:not(:last-child)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        margin-bottom: 30px

    // $Common table group MOD: role header
    &_role_header
      #{$block}_page_st-list &
        position: sticky
        z-index: 50
        top: 60px
        box-shadow: 0 2px 0 0 #d6d6d6

      @media screen and (min-width: 961px)
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &
          position: sticky
          z-index: 50

        #{$block}_page_pfo-details &
          top: 60px

      @media screen and (min-width: 1121px)
        #{$block}_page_p-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &,
        #{$block}_page_pr-list &
          position: sticky
          z-index: 50

      @media screen and (min-width: 961px) and (max-width: 1120px)
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &
          top: 127px

        #{$block}_page_pr-list &
          top: 128px

      @media screen and (min-width: 1121px) and (max-width: 1360px)
        #{$block}_page_p-list &
          top: 145px

        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_oh-list &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &
          top: 146px

        #{$block}_page_sl-list &
          top: 137px

        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_pr-list &
          top: 138px

      @media screen and (min-width: 1361px)
        #{$block}_page_p-list &
          top: 85px

        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_oh-list &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &
          top: 86px

        #{$block}_page_sl-list &
          top: 77px

        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_pr-list &
          top: 78px

        #{$block}_page_pfo-details &,
        #{$block}_page_st-list &
          top: 0

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_p-list &,
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &,
        #{$block}_page_pr-list &,
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          top: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_p-list &,
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &,
        #{$block}_page_pr-list &,
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          top: auto

    // $Common table group MOD: role main
    &_role_main

    // $Common table group MOD: role footer
    &_role_footer
      #{$block}_page_st-list &
        position: sticky
        z-index: 50
        bottom: 0
        box-shadow: 0 -2px 0 0 #d6d6d6

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          top: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          top: auto

    // $Common table group MOD: state success
    &_state_success,
    &_state_success:nth-child(odd),
    &_state_success:nth-child(even)
      background-color: #dafddf

    // $Common table group MOD: state alert
    &_state_alert,
    &_state_alert:nth-child(odd),
    &_state_alert:nth-child(even)
      background-color: #ffe1e3

    // $Common table group MOD: state warning
    &_state_warning,
    &_state_warning:nth-child(odd),
    &_state_warning:nth-child(even)
      background-color: #ffe3bd

    // $Common table group MOD: state caution
    &_state_caution,
    &_state_caution:nth-child(odd),
    &_state_caution:nth-child(even)
      background-color: #feffe1

    // $Common table group MOD: state picked
    &_state_picked,
    &_state_picked:nth-child(odd),
    &_state_picked:nth-child(even)
      background-color: #d8e8fe

    // $Common table group MOD: state zero-cost
    &_state_zero-cost,
    &_state_zero-cost:nth-child(odd),
    &_state_zero-cost:nth-child(even)
      background-color: #d8e8fe


  // $Common table dropdown
  &__dropdown
    position: relative
    border-bottom: 1px solid #eee

    #{$block}_page_oh-reports &,
    #{$block}_page_st-summary &
      border-bottom: none

    // $Common table dropdown MOD: state hidden
    &_state_hidden
      display: none

    // $Common table dropdown MOD: space regular
    &_space_regular
      padding: 20px 45px 55px

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        background-color: #f6f6f6

      @media screen and (max-width: 960px)
        padding: 20px 10px 45px


  // $Common table dropdown close
  &__dropdown-close
    position: absolute
    bottom: 20px
    left: 20px
    z-index: 10
    display: block
    width: 20px
    height: 20px
    font-size: 0
    line-height: 0
    color: transparent
    outline: none
    background-color: #454d5e
    border-radius: 50%
    transition: all .4s
    cursor: pointer

    &:before
      content: '\e921'
      display: block
      font-family: icons
      font-size: 15px
      line-height: 18px
      font-weight: 400
      color: #fff
      text-align: center

    @media screen and (max-width: 960px)
      left: 50%
      margin-left: -10px

    &:hover
      opacity: .8

    &:focus
      outline: #FFF


  // $Common table row
  &__row
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    border-bottom: 1px solid #eee
    background-color: #FFF

    #{$block}_page_st-list &
      position: relative
      overflow-x: auto

    #{$block}_page_st-list #{$block}__group_role_header &
      border-bottom: none

    #{$block}_page_st-list #{$block}__group_role_header &,
    #{$block}_page_st-list #{$block}__group_role_main &
      -ms-overflow-style: none
      scrollbar-width: none

    #{$block}_page_st-list #{$block}__group_role_header &::-webkit-scrollbar,
    #{$block}_page_st-list #{$block}__group_role_main &::-webkit-scrollbar
      display: none

    @media screen and (max-width: 960px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        flex-direction: column

    &:after
      #{$block}_page_st-list &
        content: ''
        flex-grow: 0
        flex-shrink: 0
        display: block
        width: 1px

    &:nth-child(odd)
      background-color: #f8f8f8

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &,
      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &,
      #{$block}_page_st-list &
        background-color: #fff

    &:not(:last-child)
      border-bottom: 1px solid #eee

    // $Common table row MOD: role header
    &_role_header
      &:nth-child(odd)
        background-color: #f6f6f6
        border-bottom: 1px solid #d6d6d6

        #{$block}_page_oh-reports-details &,
        #{$block}_page_st-summary-details &
          background-color: #fff
          border-bottom: 1px solid #eee

      @media screen and (min-width: 961px)
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &,
        #{$block}_page_pr-list &
          position: sticky
          z-index: 50

        #{$block}_page_pfo-details &
          top: 60px

        #{$block}__group_role_header &
          position: static
          z-index: auto
          top: auto

      @media screen and (min-width: 1121px)
        #{$block}_page_p-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &
          position: sticky
          z-index: 50

        #{$block}__group_role_header &
          position: static
          z-index: auto
          top: auto

      @media screen and (min-width: 961px) and (max-width: 1120px)
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &
          top: 127px

        #{$block}_page_pr-list &
          top: 128px

        #{$block}__group_role_header &
          position: static
          z-index: auto
          top: auto

      @media screen and (min-width: 1121px) and (max-width: 1360px)
        #{$block}_page_p-list &
          top: 145px

        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_oh-list &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &
          top: 146px

        #{$block}_page_sl-list &
          top: 137px

        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_pr-list &
          top: 138px

        #{$block}__group_role_header &
          position: static
          z-index: auto
          top: auto

      @media screen and (min-width: 1361px)
        #{$block}_page_p-list &
          top: 85px

        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_oh-list &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &
          top: 86px

        #{$block}_page_sl-list &
          top: 77px

        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_pr-list &
          top: 78px

        #{$block}_page_pfo-details &
          top: 0

        #{$block}__group_role_header &
          position: static
          z-index: auto
          top: auto

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_p-list &,
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &,
        #{$block}_page_pr-list &
          position: static
          z-index: auto
          top: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_p-list &,
        #{$block}_page_sl-list &,
        #{$block}_page_sl-form &,
        #{$block}_page_sl-batches-form &,
        #{$block}_page_sr &,
        #{$block}_page_st &,
        #{$block}_page_po-form &,
        #{$block}_page_pfo-form &,
        #{$block}_page_pfo-details &,
        #{$block}_page_si-form &,
        #{$block}_page_oh-list &,
        #{$block}_page_oh-details &,
        #{$block}_page_od-details &,
        #{$block}_page_w-list &,
        #{$block}_page_r-list &,
        #{$block}_page_pr-list &
          position: static
          z-index: auto
          top: auto

    // $Common table row MOD: adjust group
    &_adjust_group
      background-color: transparent

      &:nth-child(odd)
        background-color: transparent

    // $Common table row MOD:  no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none

    // $Common table row MOD: state success
    &_state_success,
    &_state_success:nth-child(odd),
    &_state_success:nth-child(even)
      background-color: #dafddf

    // $Common table row MOD: state alert
    &_state_alert,
    &_state_alert:nth-child(odd),
    &_state_alert:nth-child(even)
      background-color: #ffe1e3

    // $Common table row MOD: state warning
    &_state_warning,
    &_state_warning:nth-child(odd),
    &_state_warning:nth-child(even)
      background-color: #ffe3bd

    // $Common table row MOD: state caution
    &_state_caution,
    &_state_caution:nth-child(odd),
    &_state_caution:nth-child(even)
      background-color: #feffe1

    // $Common table row MOD: state picked
    &_state_picked,
    &_state_picked:nth-child(odd),
    &_state_picked:nth-child(even)
      background-color: #d8e8fe

    // $Common table row MOD: state zero-cost
    &_state_zero-cost,
    &_state_zero-cost:nth-child(odd),
    &_state_zero-cost:nth-child(even)
      background-color: #d8e8fe


    // $Table column
  &__column
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%

    #{$block}_page_st-list &
      width: calc((100% - 300px) / 20)
      min-width: 160px
      border-right: 1px solid #d6d6d6

    @media screen and (max-width: 480px)
      #{$block}_page_st-list &
        width: calc((100% - 210px) / 20)
        min-width: 140px

    &:first-child,
    &:last-child
      #{$block}_page_st-list &
        position: sticky
        z-index: 40
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        border-right: none
        background-color: #fff

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          box-shadow: none

    &:first-child
      #{$block}_page_st-list &
        left: 0
        width: 140px
        box-shadow: 2px 0 0 0 #d6d6d6

      @media screen and (max-width: 480px)
        #{$block}_page_st-list &
          width: 70px

        // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_st-list &
          left: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_st-list &
          left: auto

    &:last-child
      #{$block}_page_st-list &
        right: 0
        width: 160px
        box-shadow: -2px 0 0 0 #d6d6d6

      @media screen and (max-width: 480px)
        #{$block}_page_st-list &
          position: relative
          z-index: auto
          right: auto
          width: 140px

        // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_page_st-list &
          right: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_page_st-list &
          right: auto

    &:nth-child(1)
      #{$block}_page_ed-list &
        width: 50%
        padding-right: 20px
        border-right: 1px solid #eee

    &:nth-child(2)
      #{$block}_page_ed-list &
        width: 50%
        padding-left: 20px


  // $Common table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c
    padding: 10px 15px

    #{$block}_page_sl-list &
      justify-content: center

    #{$block}_page_oh-reports &,
    #{$block}_page_st-summary &
      justify-content: center
      min-height: 70px
      padding-top: 20px
      padding-bottom: 20px
      font-size: 18px

    #{$block}_page_oh-reports-details &,
    #{$block}_page_st-summary-details &
      justify-content: flex-start
      min-height: 50px
      padding-top: 10px
      padding-bottom: 10px
      font-size: 12px

    #{$block}_page_st-list &
      flex-direction: column
      justify-content: center
      height: 50px
      min-height: 0
      padding: 0

    #{$block}_page_st-list #{$block}__group_role_header &,
    #{$block}_page_st-list #{$block}__column:first-child &
      padding: 3px

    #{$block}_page_st-list #{$block}__group_role_header &,
    #{$block}_page_st-list #{$block}__group_role_footer &,
    #{$block}_page_st-list #{$block}__column:first-child &,
    #{$block}_page_st-list #{$block}__column:last-child &
      background-color: #f6f6f6

    #{$block}_page_st &,
    #{$block}_page_po-list &,
    #{$block}_page_oh-details &,
    #{$block}_page_od-details &,
    #{$block}_page_prep-list &,
    #{$block}_page_batch-list &
      padding-left: 10px
      padding-right: 10px

    #{$block}_page_ed-form &,
    #{$block}_page_p-list &,
    #{$block}_page_w-list &,
    #{$block}_page_r-list &,
    #{$block}_page_cgpc-list &,
    #{$block}_page_meals-list &
      padding-left: 8px
      padding-right: 8px

    @media screen and (max-width: 1600px)
      #{$block}_page_ed-form &,
      #{$block}_page_od-details &,
      #{$block}_page_p-list &,
      #{$block}_page_w-list &,
      #{$block}_page_r-list &,
      #{$block}_page_cgpc-list &,
      #{$block}_page_meals-list &
        padding-left: 5px
        padding-left: 5px

      #{$block}_page_oh-details &
        padding-left: 3px
        padding-right: 3px

    @media screen and (max-width: 1360px)
      #{$block}_page_oh-details &,
      #{$block}_page_od-details &,
      #{$block}_page_p-list &
        padding-left: 8px
        padding-right: 8px

    @media screen and (max-width: 1280px)
      #{$block}_page_oh-details &
        padding-left: 3px
        padding-right: 3px

      #{$block}_page_p-list &
        padding-left: 5px
        padding-right: 5px

    @media screen and (max-width: 1120px)
      padding: 10px

      #{$block}_page_p-list &,
      #{$block}_page_po-list &
        padding-left: 8px
        padding-right: 8px

    @media screen and (max-width: 960px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        min-height: 50px
        padding-top: 10px
        padding-bottom: 10px
        font-size: 16px

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        min-height: 50px
        padding-top: 10px
        padding-bottom: 10px
        font-size: 12px

    @media screen and (max-width: 640px)
      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        font-size: 12px

    @media screen and (max-width: 400px)
      #{$block}_page_t-list &
        padding-left: 3px
        padding-right: 3px

    &:not(:last-child)
      border-right: 1px solid #eeeeee

      #{$block}_page_st-list &
        border-bottom: 1px solid #d6d6d6

    // $Common table cell first column
    &:nth-child(1)
      #{$block}_page_sl-list &
        width: 6%
        min-width: 60px

      #{$block}_page_sl-form &
        width: 15%

      #{$block}_page_sl-batches-form &
        width: 30%

      #{$block}_page_sr &
        width: 13%

      #{$block}_page_st &
        width: 11%

      #{$block}_page_po-form &
        width: 16%

      #{$block}_page_pfo-form &
        width: 22%

      #{$block}_page_pfo-details &
        width: 17%

      #{$block}_page_si-form &
        width: 21%

      #{$block}_page_oh-list &
        justify-content: center
        flex-grow: 0
        flex-shrink: 0
        width: 80px

      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        width: 10%

      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        width: 12%

      #{$block}_page_p-list-itenerarys &
        flex-grow: 0
        width: 15%

      #{$block}_page_ed-list &
        width: 12%

      #{$block}_page_ed-list-details &
        width: calc(100% - 100px)

      #{$block}_page_ed-form &
        width: 10%
        min-width: 80px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 16%

      #{$block}_page_em-form &
        width: 21%

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        width: 20%
        padding-left: 15px

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 40%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_meals-details &
        width: 40%

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        width: 25%

      #{$block}_page_w-list &
        width: 16%

      #{$block}_page_r-list &
        width: 14%

      #{$block}_page_pr-list &
        width: 20%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 20%

      #{$block}_page_t-list &
        width: 35%

      @media screen and (max-width: 960px)
        #{$block}_page_oh-reports &,
        #{$block}_page_st-summary &
          width: 100%
          min-height: 70px
          padding-right: 35px
          padding-left: 35px
          background-color: #f8f8f8

    // $Common table cell second column
    &:nth-child(2)
      #{$block}_page_sl-list &
        width: 25%

      #{$block}_page_sl-form &
        width: 15%

      #{$block}_page_sl-batches-form &
        width: 10%

      #{$block}_page_sr &
        width: 13%

      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 17%

      #{$block}_page_pfo-form &
        width: 22%

      #{$block}_page_pfo-details &
        width: 17%

      #{$block}_page_si-form &
        width: 20%

      #{$block}_page_oh-list &
        width: 16%

      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        width: 8%

      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_p-list-itenerarys &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_ed-list &
        width: 14%

      #{$block}_page_ed-list-details &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_ed-form &
        width: 10%
        min-width: 80px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 200px

      #{$block}_page_em-form &
        width: 27%

      #{$block}_page_cgpc-list &
        width: 9.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        width: 8%

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 15%

      #{$block}_page_meals-list &
        width: 9.5%

      #{$block}_page_meals-details &
        width: 15%

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        width: 20%

      #{$block}_page_w-list &
        width: 6%

      #{$block}_page_r-list &
        width: 6%

      #{$block}_page_pr-list &
        width: 20%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 14%

      #{$block}_page_t-list &
        width: 24%

      @media screen and (max-width: 960px)
        #{$block}_page_oh-reports &,
        #{$block}_page_st-summary &
          width: 100%

    // $Common table cell third column
    &:nth-child(3)
      #{$block}_page_sl-list &
        width: 25%

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sl-batches-form &
        width: 20%

      #{$block}_page_sr &
        width: 13%

      #{$block}_page_st &
        width: 11%

      #{$block}_page_po-form &
        width: 10%

      #{$block}_page_pfo-form &
        width: 13%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_si-form &
        width: 12%

      #{$block}_page_oh-list &
        width: 16%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 9%

      #{$block}_page_p-list &
        width: 7%

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_p-list-prices &
        width: 13%

      #{$block}_page_ed-list &
        width: 11%

      #{$block}_page_ed-form &
        width: 7%
        min-width: 70px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        width: 250px

      #{$block}_page_em-form &
        width: 27%

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        width: 12%

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 15%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_meals-details &
        width: 15%

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        width: 20%

      #{$block}_page_w-list &
        width: 6%

      #{$block}_page_r-list &
        width: 6%

      #{$block}_page_pr-list &
        width: 10%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      #{$block}_page_t-list &
        width: 20%

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 9%

      @media screen and (max-width: 960px)
        #{$block}_page_oh-reports &,
        #{$block}_page_st-summary &
          width: 100%

      @media screen and (max-width: 400px)
        #{$block}_page_t-list &
          justify-content: center
          text-align: center

    // $Common table cell fourth column
    &:nth-child(4)
      #{$block}_page_sl-list &
        width: 25%

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sl-batches-form &
        width: 20%

      #{$block}_page_sr &
        width: 10%

      #{$block}_page_st &
        width: 9%

      #{$block}_page_po-form &
        justify-content: center
        width: 9%

      #{$block}_page_pfo-form &
        justify-content: center
        width: 13%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        width: 16%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        justify-content: center
        width: 8%

      #{$block}_page_po-list &
        width: 13%

      #{$block}_page_p-list-prices &
        width: 11%

      #{$block}_page_ed-list &
        justify-content: center
        width: 8%

      #{$block}_page_ed-form &
        justify-content: center
        width: 8%
        min-width: 80px

      #{$block}_page_ed-form-offers &
        flex-grow: 0
        flex-shrink: 0
        justify-content: flex-start
        width: 120px

      #{$block}_page_em-form &
        justify-content: center
        width: 15%

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        width: 12%

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 15%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_meals-details &
        width: 15%

      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        width: 35%
        padding-right: 35px

      #{$block}_page_w-list &
        width: 10%

      #{$block}_page_r-list &
        width: 9%

      #{$block}_page_pr-list &
        width: 15%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      #{$block}_page_t-list &
        width: 21%

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 7%

      @media screen and (max-width: 1120px)
        #{$block}_page_p-list &
          width: 10%

      @media screen and (max-width: 960px)
        #{$block}_page_oh-reports &,
        #{$block}_page_st-summary &
          width: 100%
          padding-right: 10px

      @media screen and (max-width: 400px)
        #{$block}_page_t-list &
          justify-content: center
          text-align: center

    // $Common table cell fifth column
    &:nth-child(5)
      #{$block}_page_sl-list &
        width: 19%

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sl-batches-form &
        width: 20%

      #{$block}_page_sr &
        width: 13%

      #{$block}_page_st &
        width: 11%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_pfo-form &
        width: 13%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_si-form &
        width: 14%

      #{$block}_page_oh-list &
        width: 16%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        width: 7%

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_p-list-prices &
        width: 11%

      #{$block}_page_ed-list &
        justify-content: center
        width: 11%

      #{$block}_page_ed-form &
        width: 8%
        min-width: 80px

      #{$block}_page_em-form &
        flex-grow: 0
        flex-shrink: 0
        width: 150px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        width: 12%

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 15%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_meals-details &
        width: 15%

      #{$block}_page_w-list &
        width: 24%

      #{$block}_page_r-list &
        width: 9%

      #{$block}_page_pr-list &
        width: 15%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 5%
          min-width: 70px

    // $Common table cell sixth column
    &:nth-child(6)

      #{$block}_page_sl-form &
        width: 16%

      #{$block}_page_sr &
        width: 13%

      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_pfo-form &
        width: 17%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_si-form &
        justify-content: center
        width: 15%

      #{$block}_page_oh-list &
        justify-content: center
        width: 13%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 8%

      #{$block}_page_p-list &
        width: 8%

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_p-list-prices &
        width: 8%

      #{$block}_page_ed-list &
        flex-grow: 0
        flex-shrink: 0
        width: 130px

      #{$block}_page_ed-form &
        width: 8%
        min-width: 80px
        background-color: #daeafd

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      #{$block}_page_prep-details &,
      #{$block}_page_batch-details &
        width: 15%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_meals-details &
        width: 15%

      #{$block}_page_w-list &
        width: 12%

      #{$block}_page_r-list &
        width: 20%

      #{$block}_page_pr-list &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 240px

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 6%
          min-width: 75px

      @media screen and (max-width: 1120px)
        #{$block}_page_ed-list &
          width: 120px


    // $Common table cell seventh column
    &:nth-child(7)

      #{$block}_page_sl-form &
        width: 12%

      #{$block}_page_sr &
        width: 15%

      #{$block}_page_st &
        width: 10%

      #{$block}_page_po-form &
        width: 13%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        justify-content: center
        width: 13%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        width: 7%

      #{$block}_page_po-list &
        width: 9%

      #{$block}_page_p-list-prices &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      #{$block}_page_ed-list &
        flex-grow: 0
        flex-shrink: 0
        width: 130px

      #{$block}_page_ed-form &
        width: 14%
        min-width: 210px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_prep-list &,
      #{$block}_page_batch-list &
        flex-grow: 0
        flex-shrink: 0
        width: 150px

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_w-list &
        width: 10%

      #{$block}_page_r-list &
        width: 11%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      @media screen and (max-width: 1120px)
        #{$block}_page_ed-list &
          width: 120px

    // $Common table cell eighth column
    &:nth-child(8)

      #{$block}_page_sr &
        width: 10%
        justify-content: center

      #{$block}_page_st &
        width: 9%
        justify-content: center

      #{$block}_page_po-form &
        justify-content: center
        width: 17%

      #{$block}_page_pfo-details &
        width: 11%

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_po-list &
        flex-grow: 0
        flex-shrink: 0
        width: 100px

      #{$block}_page_ed-form &
        width: 7%
        min-width: 70px

      #{$block}_page_p-list-prices &
        width: 26%

      #{$block}_page_ed-list &
        flex-grow: 0
        flex-shrink: 0
        width: 145px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_w-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      #{$block}_page_r-list &
        width: 9%

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        width: 11%

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 5%
          min-width: 60px

        #{$block}_page_p-list &
          width: 110px

        #{$block}_page_p-list-prices &
          width: 26%

      @media screen and (max-width: 1360px)
        #{$block}_page_p-list &
          width: 115px

        #{$block}_page_p-list-prices &
          width: 26%

      @media screen and (max-width: 1120px)
        #{$block}_page_ed-list &
          width: 135px

    // $Common table cell ninth column
    &:nth-child(9)
      #{$block}_page_st &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 8%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 95px

      #{$block}_page_po-list &
        flex-grow: 0
        flex-shrink: 0
        width: 120px

      #{$block}_page_ed-form &
        width: 8%
        min-width: 90px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_r-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 7%
          min-width: 90px

        #{$block}_page_p-list &
          width: 90px

      @media screen and (max-width: 1360px)
        #{$block}_page_p-list &
          width: 95px

    // $Common table cell tenth column
    &:nth-child(10)
      #{$block}_page_oh-details &
        width: 6%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 125px

      #{$block}_page_ed-form &
        flex-grow: 0
        flex-shrink: 0
        width: 115px
        justify-content: center

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 110px

        #{$block}_page_p-list &
          width: 120px

      @media screen and (max-width: 1360px)
        #{$block}_page_p-list &
          width: 125px

    // $Common table cell eleventh column
    &:nth-child(11)
      #{$block}_page_oh-details &
        width: 8%

      #{$block}_page_od-details &
        width: 7%

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 95px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

      #{$block}_page_ed-form &
        flex-grow: 0
        flex-shrink: 0
        width: 105px

      @media screen and (max-width: 1600px)
        #{$block}_page_ed-form &
          width: 100px

        #{$block}_page_p-list &
          width: 90px

      @media screen and (max-width: 1360px)
        #{$block}_page_p-list &
          width: 95px

    // $Common table cell twelfth column
    &:nth-child(12)
      #{$block}_page_oh-details &
        width: 8%

      #{$block}_page_od-details &
        justify-content: center
        flex-grow: 0
        flex-shrink: 0
        width: 160px

      #{$block}_page_p-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

      @media screen and (max-width: 1600px)
        #{$block}_page_od-details &
          width: 160px

        #{$block}_page_p-list &
          width: 105px

      @media screen and (max-width: 1360px)
        #{$block}_page_p-list &
          width: 110px

    // $Common table cell thirteenth column
    &:nth-child(13)
      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

    // $Common table cell fourteenth column
    &:nth-child(14)
      #{$block}_page_oh-details &
        width: 9%

      #{$block}_page_cgpc-list &
        width: 5.5%

      #{$block}_page_meals-list &
        width: 5.5%

    // $Common table cell fifteenth column
    &:nth-child(15)

      #{$block}_page_cgpc-list &
        flex-grow: 0
        flex-shrink: 0
        width: 80px

      #{$block}_page_meals-list &
        flex-grow: 0
        flex-shrink: 0
        width: 80px

    // $Common table cell sixteenth column
    &:nth-child(16)

      #{$block}_page_cgpc-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

      #{$block}_page_meals-list &
        flex-grow: 0
        flex-shrink: 0
        width: 110px

    // $Common table cell MOD: role header
    // $Common table cell MOD: role footer
    &_role_header,
    &_role_footer
      min-height: 60px
      font-size: 11px
      font-family: $f-sans
      font-weight: 600
      color: #1c2841
      text-transform: uppercase

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        font-size: 11px

      @media screen and (max-width: 1600px)
        #{$block}_page_oh-details &
          font-size: 10px

    // $Common table cell MOD: role header
    &_role_header
      border-top: 1px solid #eee

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &,
      #{$block}_page_t-list &
        border-top: none

    // $Common table cell MOD: role footer
    &_role_footer
      border-bottom: 1px solid #eee

    // $Common table cell MOD: role action
    &_role_action
      cursor: pointer

    // $Common table cell MOD: role details
    &_role_details
      position: relative

    // $Common table cell MOD: no border
    &_no-border
      &:not(:last-child)
        border: none

    // $Common table cell MOD: state success
    &_state_success
      background-color: #aafab5

    // $Common table cell MOD: state alert
    &_state_alert
      background-color: #ffc8cb

    // $Common table cell MOD: state warning
    &_state_warning
      background-color: #ffcd8a

    // $Common table cell MOD: state caution
    &_state_caution
      background-color: #fcffae

    // $Common table cell MOD: state highlight
    &_state_highlight
      filter: brightness(93%)


  // $Common table cell group
  &__cell-group
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    transition: all .2s

    #{$block}_page_st-list &
      height: 100%

    #{$block}_page_st-list #{$block}__cell:hover &
      height: 50%


  // $Common table cell area
  &__cell-area
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    align-self: stretch
    width: 100%
    height: 100%

    #{$block}_page_st-list &
      width: 50%
      padding: 3px

    // $Common table area MOD: highlight red
    &_highlight_accent-red
      background-color: #ffe1e3

      #{$block}__group_role_footer &,
      #{$block}_page_st-list #{$block}__column:last-child &
        background-color: #ffc8cb

    // $Common table area MOD: highlight green
    &_highlight_accent-green
      background-color:  #dafddf

      #{$block}__group_role_footer &,
      #{$block}_page_st-list #{$block}__column:last-child &
        background-color: #aafab5


  // $Common table cell details
  &__cell-details
    flex-grow: 0
    flex-shrink: 0
    display: block
    width: 100%
    background-color: #fff
    overflow: hidden
    transition: all .2s

    #{$block}_page_st-list &
      height: 0

    #{$block}_page_st-list #{$block}__cell:hover &
      height: 50%


  // $Common table cell details content
  &__cell-details-content
    display: block
    width: 100%

    #{$block}_page_st-list &
      padding: 3px


  // $Common table info
  &__info
    width: 100%

    #{$block}_page_sl-list #{$block}__cell &,
    #{$block}_page_po-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_pfo-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_oh-list #{$block}__cell:nth-child(1) &,
    #{$block}_page_oh-details #{$block}__cell:nth-child(4) &,
    #{$block}_page_od-details #{$block}__cell:nth-child(5) &,
    #{$block}_page_od-details #{$block}__cell:nth-child(9) &,
    #{$block}_page_p-list #{$block}__cell:nth-child(4) &,
    #{$block}_page_ed-list #{$block}__cell:nth-child(4) &,
    #{$block}_page_ed-list #{$block}__cell:nth-child(5) &,
    #{$block}_page_ed-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_ed-form #{$block}__cell:nth-child(10) &,
    #{$block}_page_em-form #{$block}__cell:nth-child(4) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(6) &,
    #{$block}_page_si-form #{$block}__cell:nth-child(7) &,
    #{$block}_page_oh-list #{$block}__cell:nth-child(7) &,
    #{$block}_page_sr #{$block}__cell:nth-child(8) &,
    #{$block}_page_st #{$block}__cell:nth-child(8) &,
    #{$block}_page_po-form #{$block}__cell:nth-child(8) &,
    #{$block}_page_oh-reports #{$block}__cell &,
    #{$block}_page_st-summary #{$block}__cell &
      text-align: center

    #{$block}_page_oh-reports-details #{$block}__cell &,
    #{$block}_page_st-summary-details #{$block}__cell &
      text-align: left

    @media screen and (max-width: 400px)
      #{$block}_page_t-list #{$block}__cell:nth-child(3) &,
      #{$block}_page_t-list #{$block}__cell:nth-child(4) &
        text-align: center

  // $Common table text
  &__text
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c

    #{$block}_page_oh-reports &,
    #{$block}_page_st-summary &
      display: inline-block
      font-size: 18px

    #{$block}_page_oh-reports-details &,
    #{$block}_page_st-summary-details &
      display: block
      font-size: 12px

    #{$block}_page_oh-list #{$block}__cell:nth-child(1) &
      margin-top: 5px

    #{$block}_page_st-list #{$block}__group_role_header &
      font-size: 11px
      font-family: $f-sans
      font-weight: 600
      color: #1c2841
      text-transform: uppercase
      text-align: center

    #{$block}_page_st-list #{$block}__group_role_header #{$block}__column:nth-child(1) &
      text-align: left

    #{$block}_page_st-list #{$block}__group_role_footer &,
    #{$block}_page_st-list #{$block}__column:first-child &,
    #{$block}_page_st-list #{$block}__column:last-child &
      font-weight: 600

    @media screen and (max-width: 1120px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        display: block

    @media screen and (max-width: 960px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        display: inline-block
        font-size: 16px

      #{$block}_page_oh-reports #{$block}__cell:nth-child(1) &,
      #{$block}_page_st-summary #{$block}__cell:nth-child(1) &
        color: #1c2841
        font-weight: 600

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        display: block
        font-size: 12px

    @media screen and (max-width: 480px)
      #{$block}_page_st-list &
        font-size: 10px

    @media screen and (max-width: 400px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        display: block

      #{$block}_page_oh-reports-details &,
      #{$block}_page_st-summary-details &
        display: block
        font-size: 12px

    // $Common table text MOD: color red
    &_color_accent-red
      color: #fd6464

    // $Common table text MOD: color green
    &_color_accent-green
      color: #2ed573

    // $Common table text MOD: adjust no wrap
    &_adjust_no-wrap
      white-space: nowrap

    // $Common table text MOD: adjust wrap
    &_adjust_wrap
      word-wrap: break-word
      hyphens: auto


  // $Common table text faded
  &__text-faded
    color: #aaa


  // $Common table text marked
  &__text-marked
    font-weight: 600


  // $Common table text line
  &__text-line
    display: block


  // $Common table actions
  &__actions
    #{$block}_page_pr-list &
      white-space: nowrap

  // $Common table action
  &__action
    #{$block}_page_oh-reports &,
    #{$block}_page_st-summary &
      margin-top: 5px
      margin-bottom: 5px
      margin-left: 20px

    @media screen and (max-width: 1120px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        margin-top: 10px
        margin-bottom: 0
        margin-left: 0

    @media screen and (max-width: 960px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        margin-top: 5px
        margin-bottom: 5px
        margin-left: 20px

    @media screen and (max-width: 400px)
      #{$block}_page_oh-reports &,
      #{$block}_page_st-summary &
        margin-top: 10px
        margin-bottom: 0
        margin-left: 0

    &:not(:last-child)
      #{$block}_page_pr-list &
        margin-right: 15px


  // $Common table icon
  &__icon
    display: inline-block
    width: 30px
    height: 30px
    background-repeat: no-repeat
    background-position: center center
    background-size: contain

    &:before
      content: ''
      display: block
      font-family: icons
      font-size: 30px
      line-height: 30px
      font-weight: 400
      color: #757a85

    // $Common table icon MOD: role food
    &_role_food
      &:before
        content: '\e908'

    // $Common table icon MOD: role drink
    &_role_drink
      &:before
        content: '\e906'

    // $Common table icon MOD: role gift
    &_role_gift
      &:before
        content: '\e90a'

    // $Common table icon MOD: role gift-white
    &_role_gift-white
      &:before
        content: '\e90a'
        color: #fff


  // $Common table corner
  &__corner
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: block
    width: 70px
    height: 70px
    padding: 5px
    text-align: right
    background-image: -ms-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)
    background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #efefef 50%, #efefef 100%)

    &_color_accent-blue
      background-image: -ms-linear-gradient(45deg, transparent 0%, transparent 50%, #64a5fd 50%, #64a5fd 100%)
      background-image: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #64a5fd 50%, #64a5fd 100%)
      background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #64a5fd 50%, #64a5fd 100%)
      background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #64a5fd 50%, #64a5fd 100%)
      background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #64a5fd 50%, #64a5fd 100%)

