@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common table
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".stock-table"

#{$block}
  display: block
  width: 100%

  // $Common table MOD: hidden on mobile
  &_state_hidden-mobile
    @media screen and (max-width: 960px)
      display: none


  // $Common table row
  &__row
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    width: 100%
    border-bottom: 1px solid #eee
    background-color: #FFF

    &:nth-child(odd)
      background-color: #f8f8f8

    // $Common table row MOD: role header
    &_role_header


  // $Common table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    font-family: $f-sans
    font-size: 12px
    font-weight: 400
    color: #6c6c6c
    padding: 10px 15px

    @media screen and (max-width: 1120px)
      padding: 10px

    // $Common table cell CONTEXT: $Common table MOD: page stock levels list
    #{$block}_page_sl-list &
      justify-content: center

    &:not(:last-child)
      border-right: 1px solid #ebebeb

    // $Common table cell first column
    &:nth-child(1)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 16%

      #{$block}_page_si-form &
        width: 21%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 13%

    // $Common table cell second column
    &:nth-child(2)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 17%

      #{$block}_page_si-form &
        width: 20%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        width: 13%

    // $Common table cell third column
    &:nth-child(3)
      #{$block}_page_sl-list &
        width: 27%

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 10%

      #{$block}_page_si-form &
        width: 12%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 10%

    // $Common table cell fourth column
    &:nth-child(4)
      #{$block}_page_sl-list &
        width: 19%

      #{$block}_page_sl-form &
        width: 14%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 10%

      #{$block}_page_po-form &
        justify-content: center
        width: 9%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        justify-content: center
        width: 9%

    // $Common table cell fifth column
    &:nth-child(5)

      #{$block}_page_sl-form &
        width: 14%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_si-form &
        width: 14%

      #{$block}_page_oh-list &
        width: 14%

      #{$block}_page_oh-details &
        width: 9%

    // $Common table cell sixth column
    &:nth-child(6)

      #{$block}_page_sl-form &
        width: 14%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 13%

      #{$block}_page_po-form &
        width: 9%

      #{$block}_page_si-form &
        justify-content: center
        width: 15%

      #{$block}_page_oh-list &
        width: 15%

      #{$block}_page_oh-details &
        width: 9%

    // $Common table cell seventh column
    &:nth-child(7)

      #{$block}_page_sl-form &
        width: 18%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 15%

      #{$block}_page_po-form &
        width: 13%

      #{$block}_page_si-form &
        justify-content: center
        width: 9%

      #{$block}_page_oh-list &
        justify-content: center
        width: 13%

      #{$block}_page_oh-details &
        width: 9%

    // $Common table cell eighth column
    &:nth-child(8)

      #{$block}_page_sl-form &
        width: 10%

      #{$block}_page_sr &,
      #{$block}_page_st &
        width: 10%
        justify-content: center

      #{$block}_page_po-form &
        justify-content: center
        width: 17%

      #{$block}_page_oh-details &
        width: 13%

    // $Common table cell ninth column
    &:nth-child(9)

      #{$block}_page_oh-details &
        width: 15%

    // $Common table cell MOD: role header
    // $Common table cell MOD: role footer
    &_role_header,
    &_role_footer
      min-height: 60px
      font-size: 11px
      font-family: $f-sans
      font-weight: 600
      color: #1c2841
      text-transform: uppercase


  // $Common table info
  &__info


  // $Common table text
  &__text


  // $Common table actions
  &__actions


  // $Common table action
  &__action
